.background {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7617d6;
    height: 100vh;
}

.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #7617d6;
}

.horizontalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #7617d6;
    width: 200vh;
}

.container {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
    width: 45vh;
        
    border-radius: 50px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 5px 10px #560f9e;
}

.containerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
    height: 5vh;
        
    border-radius: 50px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 5px 10px #560f9e;
}

.containerType {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vh;
        
    border-radius: 50px;
    background-color: #7617d6;
}

.typeFontColor {
    color: white
}

.containerTable {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 3vh;
    height: 69vh;
    width: 97vh;
    z-index: 2;
    
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 5px 10px #560f9e;
}

.nameApp {
    color: #2e2b30
}

.button {
    width: 100%;
    background-color: #8B16FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.green {
    background-color: #1ED760;
}

.red {
    background-color: #FE305E;
}

.blue {
    background-color: #0D80F5
}

.inputForm {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(197, 187, 187);
    border-radius: 4px;
    box-sizing: border-box;
}

.marginTop {
    margin-top: 3vh;
}

.marginLeft {
    margin-left: 2vh;
}

.back {
    background-color: #34363D
}

.info {
    background-color: #34363D;
    border: 1px solid #f17a1c;
}

.nameBack {
    color: white
}

table {
 border-collapse: collapse;
 width: 100vh;
 overflow-y: scroll;
}
  
th {
 border: 1px solid #7617D6;
 text-align: center;
 padding: 8px;
}

td {
 border: 1px solid black;
 text-align: center;
 padding: 8px;
}